.csnat {
    text-align: center;
    color: white;
    background-color: #389393;
}

.ing {
    text-align: center;
    color: white;
    background-color: #2d6187;
}

.paleonto {
    text-align: center;
    color: white;
    background-color: #9ab3f5;
}

.primato {
    text-align: center;
    color: white;
    background-color: #19d3da;
}

.mate {
    text-align: center;
    color: white;
    background-color: #794c74;
}

.astro {
    text-align: center;
    color: white;
    background-color: #cf1b1b;
}

.fis {
    text-align: center;
    color: white;
    background-color: #ff5722;
}

.quim {
    text-align: center;
    color: #335d2d;
    background-color: #ffd31d;
}

.bio {
    text-align: center;
    color: white;
    background-color: #7ea04d;
}